<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="app-fxLayout app-row app-fill" style="position: relative;">
  <div style="flex: 1 30%;" class="app-filters">

    <div *ngIf="authors">
      <mat-expansion-panel class="mat-mdc-elevation-specific mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'field.authors' | translate}} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          @for(k of authors; track $index; let idx = $index){
          <mat-list-item (mouseover)="showNode(k, 'author')" (mouseout)="hideNode()">
            {{ k.val}} ({{k.count}})
          </mat-list-item>
          }
        </mat-list>
      </mat-expansion-panel>
    </div>
    <div *ngIf="recipients">
      <mat-expansion-panel class="mat-mdc-elevation-specific mat-elevation-z0" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'field.recipients' | translate}} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          @for(k of recipients; track $index; let idx = $index){
          <mat-list-item (mouseover)="showNode(k, 'recipient')" (mouseout)="hideNode()">
            {{ k.val}} ({{k.count}})
          </mat-list-item>
          }
        </mat-list>
      </mat-expansion-panel>
    </div>

  </div>
  <div class="app-content">
    <div class="app-years">
      <app-years-chart *ngIf="solrResponse?.facets.date_year" [dateYearFacet]="solrResponse.facets.date_year"
        (onChangeLimits)="changeLimits($event)"></app-years-chart>
    </div>

    <div class="app-fxFlex">
      <div style="overflow: auto; height:100%; ">
        <div echarts style="width: 100%; height:100%;" [options]="graphOptions" (chartInit)="onGraphChartInit($event)">
        </div>
      </div>
    </div>
  </div>
</div>