// --- MATERIAL OVERRIDE ---
@use '@angular/material' as mat;

:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
      container-text-color: white,
      title-text-size: 20px
      ));


  @include mat.list-overrides((
    list-item-hover-label-text-color: orange,
    list-item-one-line-container-height: -1.2
    ));
}

// form field
.mat-mdc-form-field {

  // clear bottom margin
  .mat-mdc-form-field-subscript-wrapper {
    line-height: 0;
    height: 0;
  }
}

// dialog
.mat-mdc-dialog-container {
  .mat-mdc-dialog-title {
    margin: 0;
    padding: 0 16px 8px 16px;
  }

  .mat-mdc-dialog-content {
    padding: 16px !important;
  }

  .mat-mdc-dialog-actions {
    padding: 0 16px 16px 16px !important;
  }
}
