// --- VARIABLES ---
@use 'sass:map';
@use '@angular/material' as mat;

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: white,
  ));

:root {

  // config
  --app-color-info: #856404;
  --app-color-success: #2E7D32;
  --app-color-disabled: var(--app-color-gray-4);
  --app-color-item-bg: var(--app-color-gray-1);
  --app-color-item-selected: var(--palette-primary-50);
  --app-color-item-active: var(--app-color-gray-8);
  --app-color-item-invalid: var(--app-color-warn);
  --app-color-item-invalid-no-rgb: var(--palette-warn-500-no-rgb);
  --app-color-item-hover: var(--palette-primary-50);
  --app-color-item-dragover-allowed: $app-color-success;
  --app-color-item-dragover-noallowed: var(--app-color-warn);

  // basic colors
  --app-color-primary: var(--mat-sys-on-primary);
  --app-color-accent: var(--palette-accent-500) ;
  --app-color-warn: var(--palette-warn-500);

  --app-color-lightnes: #ffffff;
  --app-color-lightnes-rgb: 255, 255, 255;
  --app-color-darknes: #000000;
  --app-color-darknes-rgb: 0, 0, 0;

  // gray pallete
  --app-color-gray-0: #FAFAFA;
  --app-color-gray-1: #F5F5F5;
  --app-color-gray-2: #EEEEEE;
  --app-color-gray-3: #E0E0E0;
  --app-color-gray-4: #BDBDBD;
  --app-color-gray-5: #9E9E9E;
  --app-color-gray-6: #757575;
  --app-color-gray-7: #616161;
  --app-color-gray-8: #424242;
  --app-color-gray-9: #212121;

  // custom
  --app-default-border-color: var(--app-color-gray-3);
  --app-default-bg: var(--app-color-gray-1); 
  --app-default-wrapper: 8px;

  // bars
  --app-topbar-height: 50px;
  --app-topbar-border-color: var(--app-gray-3);
  --app-controlbar-height: 45px;
  --app-controlbar-bg-color: var(--app-gray-1);
  --app-controlbar-border-color: var(--app-gray-3);

  // components
  --app-footer-bg-color: var(--app-color-darknes);
  --app-footer-color: var(--app-gray-6);

  --app-paginator-form-field-height: 28px;

  // layout
  --app-container: 1280px;

    // layout
    --app-container: 1280px;

  // mat override
  --app-button-height: 32px;
  --app-checkbox-size: 14px;
  --mat-paginator-container-background-color: transparent;
  --mat-paginator-container-size: 44px;
  --mdc-secondary-navigation-tab-container-height: 48px;
  //--mat-toolbar-standard-height: 80px;
  --mat-table-row-item-container-height: 36px;
}


// gaps
$gaps: (
  "0": 0,
  "1": 4,
  "2": 8,
  "3": 12,
  "4": 16,
  "5": 20,
  "6": 24,
  "7": 28,
  "8": 32,
);

// alerts
$alerts: (
  warn: (
    color: var(--palette-warn-500),
    bg: var(--palette-warn-50),
    border: var(--palette-warn-100)
  )
);

