<div class="app-home-form">
    <mat-card appearance="outlined" class="  app-gap-4">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'tenants' | translate}}</mat-label>
            <mat-select multiple="true" [formField]="searchForm.tenants">
                @for (t of state.tenants(); track t) {
                <mat-option [value]="t">{{ t.val | translate}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div class="app-fxLayout app-gap-4">

          <mat-form-field class="app-fill-w" style="margin-right:5px;" appearance="outline">
            <input matInput [matDatepicker]="datum_od" [(ngModel)]="date_from" [placeholder]="('field.date_from' | translate)"
             (click)="datum_od.open()">
            <mat-datepicker-toggle matSuffix [for]="datum_od"></mat-datepicker-toggle>
            <mat-datepicker #datum_od startView="multi-year" [startAt]="year_min" (yearSelected)="doDateFromByYear($event)">
                <mat-datepicker-actions>
                <button matButton matDatepickerCancel>OK</button>
                </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
          <mat-form-field class="app-fill-w" style="margin-left:5px;" appearance="outline">
            <input matInput [matDatepicker]="datum_do" [(ngModel)]="date_to" [placeholder]="'field.date_to' | translate" (click)="datum_do.open()">
            <mat-datepicker-toggle matSuffix [for]="datum_do"></mat-datepicker-toggle>
            <mat-datepicker #datum_do startView="multi-year" [startAt]="year_max" (yearSelected)="doDateToByYear($event)">
                <mat-datepicker-actions>
                <button matButton matDatepickerCancel>OK</button>
                </mat-datepicker-actions>
            </mat-datepicker>

          </mat-form-field>



        <!-- <mat-form-field class="app-fill-w" style="margin-right:5px;" appearance="outline">
            <input type="number" placeholder="{{ 'field.year_from' | translate}}"
                attr.aria-label="{{ 'field.year_from' | translate}}" matInput [formField]="searchForm.year_from" >
        </mat-form-field>
        <mat-form-field class="app-fill-w" style="margin-left:5px;" appearance="outline">
            <input type="number" placeholder="{{ 'field.year_to' | translate}}"
                attr.aria-label="{{ 'field.year_to' | translate}}" matInput [formField]="searchForm.year_to" >
        </mat-form-field> -->
        </div>

        <mat-form-field class="app-fill-w" appearance="outline">
            <input type="text" placeholder="{{ 'field.identities' | translate}}"
                attr.aria-label="{{ 'field.identities' | translate}}" matInput [formField]="searchForm.identities"
                [matAutocomplete]="autoIdentities">

            <mat-autocomplete #autoIdentities="matAutocomplete">
                @for (option of identities(); track option) {
                <mat-option [value]="option.name">{{option.name}} ({{ option.birth_year }} - {{ option.death_year }})  ({{ option.tenant }})</mat-option>
                }
            </mat-autocomplete>

        </mat-form-field>


        <!-- <mat-form-field appearance="outline" >
            <mat-label>{{ 'identities' | translate}}</mat-label>
            <input [formField]="searchForm.identities" matInput />
        </mat-form-field> -->

        <mat-form-field class="app-fill-w" appearance="outline">
            <input type="text" placeholder="{{ 'field.places' | translate}}" attr.aria-label="{{ 'places' | translate}}"
                matInput [formField]="searchForm.places" [matAutocomplete]="autoPlaces">

            <mat-autocomplete #autoPlaces="matAutocomplete">
                @for (option of places(); track option) {
                <mat-option [value]="option.name">{{option.name}}</mat-option>
                }
            </mat-autocomplete>

        </mat-form-field>

        <!-- <mat-form-field appearance="outline" >
            <mat-label>{{ 'places' | translate}}</mat-label>
            <input [formField]="searchForm.places" matInput />
        </mat-form-field> -->

        <mat-form-field class="app-fill-w" appearance="outline">
            <input type="text" placeholder="{{ 'field.keywords' | translate}}" attr.aria-label="{{ 'keywords' | translate}}"
                matInput [matAutocomplete]="auto" (keyup)="checkKeywords($event)">

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setKeyword($event)"  [displayWith]="displayFn">
                <mat-optgroup [label]="'field.categories' | translate">
                    @for (option of categories(); track option) {
                    <mat-option [value]="option">{{option.value}}</mat-option>
                    }
                </mat-optgroup>
                <mat-optgroup [label]="'field.keywords' | translate">
                    @for (option of keywords(); track option) {
                    <mat-option [value]="option">{{option.value}}</mat-option>
                    }
                </mat-optgroup>

            </mat-autocomplete>

        </mat-form-field>

        <!-- <mat-form-field appearance="outline" >
            <mat-label>{{ 'keywords' | translate}}</mat-label>
            <input [formField]="searchForm.keywords" matInput />
        </mat-form-field> -->
        <div class="app-text-right">
            <button matIconButton [title]="'action.search' | translate" (click)="search()"><mat-icon>search</mat-icon></button>
        </div>
        
    </mat-card>
</div>

<div class="app-home-layout app-fxLayout app-row app-fill">


    @for(card of state.views; track $index){
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title> {{ 'home.' + card.header + '.header' | translate }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ 'home.' + card.header + '.text' | translate }}
            </p>
        </mat-card-content>
        <mat-card-actions align="end" class="app-mat-card-actions">
            <a [routerLink]="['/'+card.route]" queryParamsHandling="preserve" [disabled]="card.route === ''"
                mat-raised-button>{{ 'View' | translate }}</a>
        </mat-card-actions>
    </mat-card>
    }
</div>