<div class="app-home-layout app-fxLayout app-row app-fill">
<mat-card appearance="outlined" *ngFor="let card of cards">
    <!-- <mat-card-header>
        <mat-card-title> {{ card.header | translate}} </mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
        <p>
            {{ card.text }}
        </p>
      </mat-card-content>
    <mat-card-actions align="end" class="app-mat-card-actions">
        <button [routerLink]="[card.route]" [disabled]="card.route === ''" mat-raised-button>{{ 'View' | translate }}</button>
    </mat-card-actions>
</mat-card>
</div>