<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-card *ngIf="invalidTenant" appearance="outlined" class="app-invalidTenant">
  <mat-card-header>
    <mat-card-title> {{ 'invalidTenant' | translate}} </mat-card-title>
  </mat-card-header>
</mat-card>
<div class="app-fxLayout app-row app-fill" style="position: relative;" *ngIf="!invalidTenant">
  <div style="flex: 1 30%;" class="app-filters">

    <div *ngIf="keywords_cs">
      <mat-expansion-panel class="mat-mdc-elevation-specific mat-elevation-z0" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'field.keywords' | translate}} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          @for(k of keywords_cs; track $index; let idx = $index){
          <mat-list-item (click)="clickKeyword(k)">
            <mat-checkbox [checked]="k.selected">{{ k.val}} ({{k.count}}) </mat-checkbox>
          </mat-list-item>
          }
        </mat-list>
      </mat-expansion-panel>

    </div>
    <div *ngIf="mentioned">
      <mat-expansion-panel class="mat-mdc-elevation-specific mat-elevation-z0" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'field.mentioned' | translate}} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          @for(identity of mentioned; track $index; let idx = $index){
          <mat-list-item (click)="clickMentioned(identity)">
            {{ identity.val}} ({{identity.count}})
          </mat-list-item>
          }
        </mat-list>
      </mat-expansion-panel>
    </div>
  </div>
  <div class="app-content">
    <div class="app-years">
      <app-years-chart *ngIf="solrResponse?.facets.date_year" [dateYearFacet]="solrResponse.facets.date_year"
        (onChangeLimits)="changeLimits($event)"></app-years-chart>
    </div>

    <div class="app-fxFlex">
      <div style="overflow: auto; height:100%; ">
        <div echarts style="width: 100%;" [options]="treeMapOptions" (chartInit)="onTreeMapChartInit($event)">
        </div>
      </div>
    </div>

    <!-- <div class="app-fxFlex">
      <div style="overflow: auto; height: 800px">
        <div *ngIf="chartType === 0" echarts style="width: 100%;" [style.height]="(mentioned.length * 32) + 'px'"
          [options]="identitiesChartOptions" (chartInit)="onChartInit($event)">
        </div>
      </div>
    </div> -->
  </div>
</div>