<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            <mat-card *ngIf="invalidTenant" appearance="outlined" class="app-invalidTenant">
                <mat-card-header>
                    <mat-card-title> {{ 'invalidTenant' | translate}} </mat-card-title>
                </mat-card-header>
            </mat-card>
<div class="app-fxLayout app-row app-fill" style="position: relative;" *ngIf="!invalidTenant">
  <div style="flex: 1 30%;" class="app-filters">

    <!-- <div>
      <mat-radio-group aria-label="Chart type" [(ngModel)]="chartType" (ngModelChange)="onChangeChartType()">
        <mat-radio-button value="treemap">treemap</mat-radio-button>
        <mat-radio-button value="tree">tree</mat-radio-button>
      </mat-radio-group>
    </div> -->

    <div *ngIf="keywords_cs">
      <h3>{{ 'field.keywords' | translate}}</h3>
      <mat-list style="width: 100%;">
        <mat-list-item *ngFor="let k of keywords_cs; let idx = index" (click)="clickKeyword(k)">
          <mat-checkbox [checked]="k.selected">{{ k.val}} ({{k.count}}) </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="mentioned">
      <h3>{{ 'field.mentioned' | translate}}</h3>
      <mat-list style="max-height: 300px; width: 100%; overflow-y: scroll;">
        <mat-list-item *ngFor="let identity of mentioned" (click)="clickMentioned(identity)">
          {{ identity.val}} ({{identity.count}})
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="app-content">
    <div style="height: 200px; width: 100%;">
      <app-years-chart *ngIf="solrResponse?.facets.date_year" [dateYearFacet]="solrResponse.facets.date_year"
        (onChangeLimits)="changeLimits($event)"></app-years-chart>
    </div>

    <div  class="app-fxFlex">
      <div style="overflow: auto; height:100%; ">
        <div  echarts style="width: 100%;" 
          [options]="treeMapOptions" (chartInit)="onTreeMapChartInit($event)">
        </div>
      </div>
    </div>

    <!-- <div class="app-fxFlex">
      <div style="overflow: auto; height: 800px">
        <div *ngIf="chartType === 0" echarts style="width: 100%;" [style.height]="(mentioned.length * 32) + 'px'"
          [options]="identitiesChartOptions" (chartInit)="onChartInit($event)">
        </div>
      </div>
    </div> -->
  </div>
</div>