<div class="app-fxLayout app-row app-fill">

  <div style="flex: 1 30%; max-width: 300px;">
    <div>
    <h4>{{ 'tenants' | translate}}</h4>
    <mat-form-field>
      <mat-label>{{ 'tenant' | translate}}</mat-label>
      <mat-select [(ngModel)]="tenant" (selectionChange)="changeTenant()">
        @for (t of tenants; track t) {
          <mat-option [value]="t">{{ t.val | translate}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    </div>
    <div>
      <div echarts style="height: 100px; width: 100%;"
          [options]="chartOptionsRok" 
          (chartInit)="onChartRokInit($event)" 
          (chartBrushEnd)="onRokSelected($event)" 
          (chartBrushSelected)="onClearSelection($event)">
      </div>
      <div *ngIf="limits">od: {{ limits[0] }} - do: {{ limits[1] }}</div>
    </div>
    <div  style="height: 300px; width: 100%; overflow-y: scroll;">
      <mat-list>
        <mat-list-item *ngFor="let identity of recipients" 
          (mouseout)="clearHighlight()" (mouseover)="highlightLinks(identity)">
          {{ identity.name}} ({{identity.value}})
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div style="height: 550px; flex: 1 70%" class="app-fxFlex"
      leaflet 
      [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)">
  </div>

</div>