<div class="app-loading">@if(loading && !running){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}</div>
<as-split direction="horizontal" [unit]="'pixel'" (gutterClick)="state.gutterClick($event)">
  <as-split-area [size]="state.facetsSize" >
    <div style="flex: 1 30%;" class="app-filters">
       @if(solrResponse?.facets) {
        <app-facets [fields]="['authors', 'recipients', 'mentioned', 'keywords', 'professions', 'origins', 'destinations']"
          [colored]="true"
          [facets]="facets()" (onFiltersChanged)="onFiltersChanged($event)" (onMouserOver)="showNodeExt($event)"
          (onMouseOut)="hideNode()"></app-facets> }
    </div>
  </as-split-area>
  <as-split-area>
    <div class="app-content app-fill-w app-fill-h">
  <div class="app-years">
    @if (solrResponse?.facets.date_year) {
      <app-years-chart [dateYearFacet]="solrResponse.facets.date_year"
      (onChangeLimits)="changeLimits($event)" [withAnimation]="true" (onChangeRunning)="changeRunning($event)"></app-years-chart>
    }
  </div>
  <div style="height: 100%; width: 100%;" id="echarts-lmap" class="app-fxFlex"></div>
  <!-- <div style="height: 100%; width: 100%;" class="app-fxFlex" leaflet [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)">
</div> -->
</div>
  </as-split-area>
</as-split>
@if (infoHeader) {
  <div class="app-letters-info">
    <app-letters-info [header]="infoHeader" [fields]="infoFields" [data]="infoData" [type]="infoType" [typeData]="infoTypeData"
     (onClose)="closeInfo()"></app-letters-info>
  </div>
}