<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="app-fxLayout app-row app-fill">
  <div style="flex: 1 30%; max-width: 300px;">
    <div>
      <h4>{{ 'tenants' | translate}}</h4>
      <mat-form-field>
        <mat-label>{{ 'tenant' | translate}}</mat-label>
        <mat-select [(ngModel)]="state.tenant" (selectionChange)="changeTenant()">
          @for (t of state.tenants; track t) {
          <mat-option [value]="t">{{ t.val | translate}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <h3>{{ 'Recipients' | translate}}</h3>
      <mat-list style="max-height: 200px; width: 100%; overflow-y: scroll;">
        <mat-list-item *ngFor="let identity of recipients" [class.app-active]="identity === activeIdentity"
          (click)="clickRecipient(identity)">
          <mat-icon *ngIf="identity === activeIdentity">check</mat-icon>
          {{ identity.val}} ({{identity.count}})
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <h3>{{ 'Mentioned' | translate}}</h3>
      <mat-list style="max-height: 200px; width: 100%; overflow-y: scroll;">
        <mat-list-item *ngFor="let identity of mentioned" (mouseout)="clearHighlight()"
          (click)="highlightLinks(identity)">
          {{ identity.val}} ({{identity.count}})
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div style="height: 100%; width: 100%; display: flex; flex-direction: column; align-content: flex-start;">
    <div  style="height: 200px; width: 100%;">
      <app-years-chart *ngIf="solrResponse?.facets.date_year" [dateYearFacet]="solrResponse.facets.date_year" (onChangeLimits)="changeLimits($event)" ></app-years-chart>
    </div>
    <div class="app-fxFlex" leaflet [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)">
    <div class="app-letters-info" *ngIf="infoHeader">
      <app-letters-info [header]="infoHeader" [content]="infoContent" (onClose)="closeInfo()" ></app-letters-info>
    </div>
    </div>
  </div>
  
</div>